* {
    color: white;
}

body {
    background: linear-gradient(135deg, #b3e5fc, #81d4fa, #4fc3f7, #29b6f6);
}

.mainContainer {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 6rem);
    grid-template-rows: repeat(3, 6rem);
    gap: 10px;
}

.gridCells {
    background-color: white;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gridCells>* {
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: auto;
}

.playerName {
    color: white;
    font-size: x-large;
    width: 6rem;
    background: none;
    border: none;
}

.playerIcon {
    width: 2rem;
    height: 2rem;
    background-repeat: no-repeat;
    background-size: cover
}

#playerOneScore .playerIcon {
    background-image: url("./src/xWhite.svg");
}

#playerTwoScore .playerIcon {
    background-image: url("./src/circleWhite.svg");
}

.scoreContainer {
    height: 4rem;
    width: 10rem;
}

.scoreContainer>* {
    font-size: x-large;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.playAgainButton {
    background-color: white;
    color: #29b6f6;
    border: none;
    padding: 1rem;
    margin: 2rem;
    border-radius: 20px 0;
    font-size: x-large;
}

.lastGameIssue {
    font-size: x-large;
}